

body {
    background-color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 80pt;
    text-transform: uppercase;
}

header {
    background-color: #23232e;
    text-align: center;
    color: white;
}

header h1 {
    color: white;
    margin-top: 180px;
    margin-bottom: 70px;
}

header p {
    font-size: 24px;
}

header img#arrow {
    margin: 170px 0 50px 0;
}

header img#logo {
    margin-top: 80px;
}

footer{
    padding-top: 60px;
    text-align: center;
    background-image: url("images/bg.svg")
}

footer > p {
    display: block;
    width: 870px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 60px;
    font-size: 30pt;
}

footer h1 {
    margin-top: 125px;
    margin-bottom: 100px;
}

footer > div {
    /* display: flex; */
    width: 930px;
    margin: 0 auto;
    
}

div.skills {
    display: inline-block;
    width: 300px;
}

div.skills h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
}

div.skills p {
    font-size: 20px;
    text-align: left;
}